.heading {
    color: white;
    margin-top: 10rem;
    text-align: center;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.expertise-container {
    display: flex;
    justify-content: center;
    margin: 0rem 1rem;
}

.development-container {
    border: solid rgba(255, 255, 255, 0.664) 4px;
    text-align: center;
    padding: 2rem;
    max-width: 30%;
}

.expertise-container div:first-child {
    border-right: none;
}

.top {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.svg {
    padding-right: 1.5rem;
    margin-top: 5px;
    display: block;
}

.expertise-label {
    text-align: start;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 2rem;
    display: block;
    position: relative;
    z-index: 0;
    letter-spacing: 1.5px;
}

.expertise-label::after {
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    bottom: 55.5%;
    z-index: -1;
    height: 0.3em;
    width: 68%;
    left: 0%;
    background: linear-gradient(65deg, #DF058D 0%, #DF058D 100%, rgba(255, 209, 0, 0) 100%);
}

.fr::after {
    background: linear-gradient(65deg, #0510df 0%, #2605df 100%, rgba(255, 209, 0, 0) 100%);
    bottom: 53.5%;
    width: 90%;
}

.description {
    text-align: start;
    margin-left: 4rem;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Roboto Mono', monospace;
}

/* .description::before, .description::after {
    content: "<p>";
    display: block;
    margin-left: -40px;
    margin-bottom: 0.5rem;
    color: gray;
    font-family: 'Roboto Mono', monospace;
}

.description::after {
    content: "</p>";
    margin-top: 0.3rem;
} */

@media screen and (max-width: 1000px) {
    .expertise-container {
        flex-direction: column;
        align-items: center;
        margin: 0rem 2rem;
    }

    .development-container {
        margin-bottom: 2rem;
    }

    .development-container {
        border-right: solid rgba(255, 255, 255, 0.664) 4px !important;
        max-width: unset;
        width: calc(100% - 2rem);
    }
}

@media screen and (max-width: 428px) {
    .expertise-label {
        font-size: 15px;
        word-break: break-all;
    }

    .description {
        font-size: 0.9rem;
        word-wrap: break-word;
    }

    .top {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 256px) {
    .top {
        flex-direction: column;
    }

    .description {
        margin-left: unset;
    }
}